# ROS 2 Generated Artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]

# System
.DS_Store

# User Request: Ignore Documents
*.pdf

# Markdown files
*.md

# Exceptions (Files we want to track)
!README.md
# If you want to track the source code licenses or packages
!package.xml
